name = "yexux-convites-api"
main = "worker.js"
compatibility_date = "2026-09-03"

[[d1_databases]]
binding = "DB"
database_name = "yexux-convites"
database_id = "31cfea74-06a3-4d27-8a90-365d55dc46f8"

# A chave administrativa deve ser configurada como Secret no Cloudflare.
# Não coloque a ADMIN_KEY diretamente neste arquivo.